$white:                     #FFFFFF;
$black:                     #000000;

$gray:                      #454545;
$gray--light:               #F5F5F5;
$gray--hover:               #51575d;

$red:                       #DC3545;
$blue:                      #17A2B8;

$purple:                    #7b66f8;
$purple--hover:             #4A2EF5;
