@mixin flex($jc: false, $ac: false) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  @if($jc) {
    justify-content: center;
  }

  @if($ac) {
    align-items: center;
  }
}

@mixin disableUserSelect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
