@import './setup/index';
@import './misc/index';
@import './components/index';

body {
  background-color: $white;
  font-family: $fontFamily-oswald;
  min-height: 100vh;
}

#github-search {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem .95rem;
}

.gs-header {
  @include flex(true, true);
  padding: 1rem 0;
  font-family: $fontFamily-bebas;
}

.gs-header-wrapper {
  @include flex(true, true);
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .gs-header-logo {
    flex: 1 1 30%;
    max-width: 30%;
  }

  .gs-header-title {
    position: relative;
    @include flex(false, true);
    flex: 1 1 62%;
    max-width: 62%;
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }


    &>.gs-header-title-content {
      @include flex(true, true);
      flex-direction: column;
      text-align: center;
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text {

  &-muted {
    color: $gray;
  }

  &-invalid {
    color: $red;
  }

  &-center {
    text-align: center;
  }

  &-small {
    font-size: .85rem;
  }
}

.gs-title {
  font-size: 4.5rem;
  line-height: 1;

  @include media-breakpoint-up(sm) {
    font-size: 6rem;
    letter-spacing: 6px;
  }

  &-2 {
    font-size: 1.5rem;
  }

  &-3 {
    font-size: 1.25rem;
  }
}

.gs-subtitle {
  line-height: 1.25rem;
  font-size: 1.2rem;
}

.gs-text {
  font-size: .9rem;
}

.gs-ipp-filter {
  @include flex(false, true);
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.gs-select {
  display: block;
  padding: .375rem .4rem;
  font-size: .85rem;
  line-height: 1.5;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.gs-link {
  color: $blue;
  font-size: .95rem;
}

.gs-search-results {
  margin-top: 3rem;
}

.gs-repository-list {
  margin-bottom: 1.5rem;

  .gs-repository-item {
    padding: .625rem 0;

    @include media-breakpoint-up(sm) {
      padding: .625rem 15px;
    }
  }
}

.gs-repository-description {
  margin: .25rem 0;
}

.gs-input {
  width: 100%;
  padding: .375rem .75rem;
  background-color: $white;
  border: 1px solid #ced4da;
  font-size: .85rem;
}

.gs-btn {
  display: inline-block;
  padding: .4rem 1.125rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;

  @include disableUserSelect();
  cursor: pointer;

  transition:
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;

  &:focus {
    outline: none;
  }

  &.primary {
    color: $white;
    background-color: $purple;
    border-color: $purple;

    &:hover {
      background-color: $purple--hover;
      border-color: $purple--hover;
    }
  }

  &.secondary {
    color: $white;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {

  &:visited {
    color: $blue;
  }
}
