#gs-loader-outer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $white;
  opacity: .6;

  z-index: $zIndex-5-modal;
}

#gs-loader-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 2px solid transparent;
  border-top-color: $black;
  border-radius: 50%;
  -webkit-animation: spin7 1.5s ease infinite;
  animation: spin7 1.5s ease infinite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $black;
  }

  &::before {
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    -webkit-animation: spin7 3s linear infinite;
    animation: spin7 3s linear infinite;
  }

  &::after {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
  }
}

@-webkit-keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
