.gs-dropdown-menu {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;

  float: left;
  min-width: 8rem;
  margin: .125rem 0 0;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;

  z-index: $zIndex-9-dropdownMenu;
  will-change: transform;
  transform: translate3d(0px, 36px, 0px);
}

.gs-dropdown-item {
  display: block;
  width: 100%;
  padding: .875rem .75rem;
  clear: both;

  text-align: inherit;
  white-space: nowrap;
  font-size: .85rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $gray--light;
  }
}

.gs-input-prepend {
  margin-right: -1px;
  display: flex;
  position: relative;

  &>.gs-btn {
    border: 1px solid gray;
    position: relative;
    color: white;
    white-space: nowrap;
    background-color: black;
    background-image: none;
    border-color: #6c757d;
    border-radius: 6px 0 0 6px;
    font-size: .8rem;
    padding: .5rem .75rem;
    font-family: $fontFamily-bebas;
    letter-spacing: 1px;

    &::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }
}

.gs-search-wrapper {
  @include flex();
  flex-wrap: wrap;

  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }

  &>.gs-btn.submit {
    margin: 1.25rem auto 0 auto;
    flex: 0 0 50%;
    max-width: 50%;

    @include media-breakpoint-up(sm) {
      margin: 0;
      flex: 0 0 18%;
      max-width: 18%;
    }
  }
}

.gs-search-input {
  @include flex();
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;

  @include media-breakpoint-up(sm) {
    flex: 0 0 75%;
    max-width: 75%;
  }

  &>.gs-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    border-radius: 0 6px 6px 0;

    &:focus {
      outline: none;
    }
  }
}
