.gs-userdetails-wrapper {
  @include flex();
  position: relative;

  padding-bottom: 1.25rem;
  border-bottom: 2px solid #D4D4D4;
}

.gs-user-wrapper {
  @include flex(false, true);
  flex-direction: column;
  padding-top: 1.125rem;
  padding-bottom: 2.25rem;
  border-bottom: 2px solid #D4D4D4;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  .gs-user-avatar {
    flex: 0 0 75%;
    max-width: 75%;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(sm) {
      flex: 0 0 30%;
      max-width: 30%;
      margin-bottom: 0;
    }
  }

  .gs-user-description {
    position: relative;
    flex: 0 0 10%;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      flex: 0 0 70%;
      max-width: 70%;
      padding: 0 1rem;
    }
  }

  .gs-user-github {
    margin-top: 2rem;
  }
}
