/**
 * A few bootstrap scripts taken from Bootstrap 4
 * https://getbootstrap.com/docs/4.4/getting-started/download/
 * for media query mixins
 */
.gs-userdetails-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid #D4D4D4;
}

.gs-user-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.125rem;
  padding-bottom: 2.25rem;
  border-bottom: 2px solid #D4D4D4;
}
@media (min-width: 576px) {
  .gs-user-wrapper {
    flex-direction: row;
  }
}
.gs-user-wrapper .gs-user-avatar {
  flex: 0 0 75%;
  max-width: 75%;
  margin-bottom: 1.25rem;
}
@media (min-width: 576px) {
  .gs-user-wrapper .gs-user-avatar {
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 0;
  }
}
.gs-user-wrapper .gs-user-description {
  position: relative;
  flex: 0 0 10%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .gs-user-wrapper .gs-user-description {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 1rem;
  }
}
.gs-user-wrapper .gs-user-github {
  margin-top: 2rem;
}

.gs-pagination-bar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#gs-loader-outer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  opacity: 0.6;
  z-index: 50;
}

#gs-loader-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 2px solid transparent;
  border-top-color: #000000;
  border-radius: 50%;
  -webkit-animation: spin7 1.5s ease infinite;
  animation: spin7 1.5s ease infinite;
}
#gs-loader-inner::before, #gs-loader-inner::after {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #000000;
}
#gs-loader-inner::before {
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  -webkit-animation: spin7 3s linear infinite;
  animation: spin7 3s linear infinite;
}
#gs-loader-inner::after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin7 1.5s ease infinite;
  animation: spin7 1.5s ease infinite;
}

@-webkit-keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gs-dropdown-menu {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  float: left;
  min-width: 8rem;
  margin: 0.125rem 0 0;
  text-align: left;
  list-style: none;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  z-index: 90;
  will-change: transform;
  transform: translate3d(0px, 36px, 0px);
}

.gs-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.875rem 0.75rem;
  clear: both;
  text-align: inherit;
  white-space: nowrap;
  font-size: 0.85rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.gs-dropdown-item:hover {
  background-color: #F5F5F5;
}

.gs-input-prepend {
  margin-right: -1px;
  display: flex;
  position: relative;
}
.gs-input-prepend > .gs-btn {
  border: 1px solid gray;
  position: relative;
  color: white;
  white-space: nowrap;
  background-color: black;
  background-image: none;
  border-color: #6c757d;
  border-radius: 6px 0 0 6px;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.gs-input-prepend > .gs-btn::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.gs-search-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .gs-search-wrapper {
    justify-content: space-between;
  }
}
.gs-search-wrapper > .gs-btn.submit {
  margin: 1.25rem auto 0 auto;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (min-width: 576px) {
  .gs-search-wrapper > .gs-btn.submit {
    margin: 0;
    flex: 0 0 18%;
    max-width: 18%;
  }
}

.gs-search-input {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .gs-search-input {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.gs-search-input > .gs-input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  border-radius: 0 6px 6px 0;
}
.gs-search-input > .gs-input:focus {
  outline: none;
}

body {
  background-color: #FFFFFF;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

#github-search {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem 0.95rem;
}

.gs-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.gs-header-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 576px) {
  .gs-header-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
  }
}
.gs-header-wrapper .gs-header-logo {
  flex: 1 1 30%;
  max-width: 30%;
}
.gs-header-wrapper .gs-header-title {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex: 1 1 62%;
  max-width: 62%;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .gs-header-wrapper .gs-header-title {
    margin-bottom: 0;
  }
}
.gs-header-wrapper .gs-header-title > .gs-header-title-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-muted {
  color: #454545;
}
.text-invalid {
  color: #DC3545;
}
.text-center {
  text-align: center;
}
.text-small {
  font-size: 0.85rem;
}

.gs-title {
  font-size: 4.5rem;
  line-height: 1;
}
@media (min-width: 576px) {
  .gs-title {
    font-size: 6rem;
    letter-spacing: 6px;
  }
}
.gs-title-2 {
  font-size: 1.5rem;
}
.gs-title-3 {
  font-size: 1.25rem;
}

.gs-subtitle {
  line-height: 1.25rem;
  font-size: 1.2rem;
}

.gs-text {
  font-size: 0.9rem;
}

.gs-ipp-filter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.gs-select {
  display: block;
  padding: 0.375rem 0.4rem;
  font-size: 0.85rem;
  line-height: 1.5;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.gs-link {
  color: #17A2B8;
  font-size: 0.95rem;
}

.gs-search-results {
  margin-top: 3rem;
}

.gs-repository-list {
  margin-bottom: 1.5rem;
}
.gs-repository-list .gs-repository-item {
  padding: 0.625rem 0;
}
@media (min-width: 576px) {
  .gs-repository-list .gs-repository-item {
    padding: 0.625rem 15px;
  }
}

.gs-repository-description {
  margin: 0.25rem 0;
}

.gs-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: #FFFFFF;
  border: 1px solid #ced4da;
  font-size: 0.85rem;
}

.gs-btn {
  display: inline-block;
  padding: 0.4rem 1.125rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.gs-btn:focus {
  outline: none;
}
.gs-btn.primary {
  color: #FFFFFF;
  background-color: #7b66f8;
  border-color: #7b66f8;
}
.gs-btn.primary:hover {
  background-color: #4A2EF5;
  border-color: #4A2EF5;
}
.gs-btn.secondary {
  color: #FFFFFF;
  background-color: #6c757d;
  border-color: #6c757d;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a:visited {
  color: #17A2B8;
}

/*# sourceMappingURL=index.css.map */
